

.square{
    box-sizing: border-box;
    border: 1px solid black;
    height: 100px;
    max-width: 100px;
    width: 100%;
    cursor:pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    
  }